.checkoutTableWrapper{
    display: flex;
    justify-content: center;
}

.checkoutTable{
    width: 100%;
    max-width: 900px;
    text-align: left;
    border-collapse: collapse;
}

.checkoutTable td {
    padding: 10px;
}
.checkoutTable tr:nth-child(odd) {
    background-color: #ecf0f1;
}
.checkoutProductImgColumn{
    width: 25%;
}
.checkoutProductImg{
    border-radius: 10px;
    max-width: 150px;
    height: auto;
}
.checkoutRemoveButton{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.checkoutRemoveButtonImg{
    width: 16px;
    height: 16px;
}
.checkoutName{
    font-size: 0.9em;
}
.checkoutPrice{
    font-size: 1.2em;
    color: #9b59b6;
}
.checkoutSubTotalPrice{
    font-size: 1.3em;
    font-weight: bold;
    color: #9b59b6;
}
.checkoutTableHeader{
    padding: 10px;
}