.formErrorMessage{
    font-size: 0.9em !important;
    margin: 0px 0px 15px 10px !important;
    color: #c0392b !important;
}

.formInputError{
    border: 1px solid #c0392b !important;
}

.formDisableButton{
    pointer-events: none !important;
    background-color: #bdc3c7 !important;
    color: black !important;
}