.header{
    background-color: #ecf0f1;
    padding: 10px 10px 0px 10px;
    width: calc(100%-20px);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 121px;
}

.headerTopWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headerLogo{
    height: 78px;
    width: 170px;
}

.footerLogo{
    height: 47px;
    width: 110px;
}
.headerTopOptionsWrapper{
    display: flex;
    flex-direction: row;
    width: calc(100% - 110px);
    justify-content: flex-end;
    align-items: center;
}
.headerCartButton, .headerSearchOrderButton
{
    border-radius: 50%;
    padding: 15px;
    margin: 0px 10px;
    opacity: 0.5;
}
.headerSearchOrderButton{
    opacity: 0.8;
    background-color: #8e44ad;
}
.headerCartButton:hover, .headerSearchOrderButton:hover{
    opacity: 1;
}
.headerShoppingCartImg{
    height: 24px;
    width: 24px;
}
.headerSearchOrderButtonImg{
    height: 16px;
    width: 16px;
}

.headerSearchOrderInput{
    font-size: 1.0em;
    width: 180px;
}

.headerNavigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.headerNavigation a {
    padding: 10px 30px;
}

.headerNavigationActiveTab{
    border-bottom: 5px solid #8e44ad;
}