.productOrderDetails{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.productOrderSummaryWrapper{
    flex: 1;
}

.productOrderSummary{
    padding: 0px 10px 0px 10px;
    margin: 0px 15px 0px 15px;
    border-left: 5px solid #9b59b6;
    position: absolute;
}

.productOrderSummaryHeader{
    font-size: 1.0em;
    font-weight: bold;
    color: #8e44ad;
}

#productOrderSummaryButton{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #9b59b6;
    color: white;
    font-size: 1.0em;
    opacity: 0.7;
}
#productOrderSummaryButton:hover{
    opacity: 1.0; 
}
.productOrderSummaryTotalRow, 
.productOrderSummaryGstRow{
    font-size: 1.0em;
    color: #7f8c8d;
}
.productOrderSummaryNetTotalRow{
    font-size: 1.2em;
    font-weight: bold;
    color: #9b59b6;
}

.productOrderSummaryTable{
    border-collapse: collapse;
}

.productOrderTableWrapper{
    display: flex;
    justify-content: center;
    flex: 3;
}

.productOrderTable{
    width: 100%;
    max-width: 900px;
    text-align: left;
    border-collapse: collapse;
}

.productOrderTable td,
.productOrderSummaryTable td {
    padding: 10px;
}
.productOrderTable tr:nth-child(odd) {
    background-color: #ecf0f1;
}
.productOrderProductImgColumn{
    width: 25%;
}
.productOrderProductImg{
    border-radius: 10px;
    max-width: 150px;
    height: auto;
}
.productOrderRemoveButton{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.productOrderRemoveButtonImg{
    width: 16px;
    height: 16px;
}
.productOrderName{
    font-size: 0.9em;
}
.productOrderPrice{
    font-size: 1.2em;
    color: #9b59b6;
}
.productOrderSubTotalPrice{
    font-size: 1.3em;
    font-weight: bold;
    color: #9b59b6;
}
.productOrderTableHeader{
    padding: 10px;
}
.productOrderQtyInput{
    font-size: 1.0em;
    width: 60px;
}